:root {
    --button-background: #13183E;
    --links-text-color: #ffffff;
    --main-body-bgColor: #ffffff;
    --headingColor: #03093b;
    --mainFontColor: #0F122B;
}

*,
::before,
::after {
    box-sizing: border-box;
}

body {
    background-color: var(--main-body-bgColor)
}


/* visually hidding the skip link */

#skip-link-section a {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    padding: 0.5rem;
    overflow: hidden;
    border-radius: 15px;
    margin: 0rem 0 1rem 0;
    border-color: var(--button-background);
    background-color: var(--button-background);
    color: var(--links-text-color);
}

#skip-link-section a:focus {
    position: static;
    width: auto;
    height: auto;
    text-decoration: underline;
}

#skip-link-section a:link {
    text-decoration: none;
    color: var(--links-text-color);
}

.navbar {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 0.5rem;
}

#navbar-signin-btn {
    padding: 8px 30px;
    font-size: 1rem;
    background-color: var(--button-background);
    border-color: var(--button-background);
    color: var(--links-text-color);
    font-weight: bold;
    border-radius: 20px;
    margin-right: 5rem;
}

.navbar-logo {
    margin-left: 3rem;
}


/* navigation section ends here */


/* hero section */

.hero-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 100%;
    height: 100vh;
}

.hero-img {
    background-image: url('assets/image-hero-desktop.png');
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 100%;
    height: auto;
    margin-top: -12rem;
}

.hero-information {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.hero-title {
    font-size: 220%;
    max-width: 50%;
    margin-left: 2rem;
    padding: 1rem;
    color: var(--headingColor)
}

.hero-description {
    font-size: 1.2rem;
    line-height: 1.5;
    color: var(--mainFontColor);
    margin-left: 2rem;
    max-width: 60%;
}

.hero-btn {
    margin-left: 2rem;
}

.hero-signup-btn {
    padding: 10px 30px;
    border-radius: 20px;
    background-image: linear-gradient(#F46E4C, #F43794);
    color: var(--links-text-color);
    font-size: 0.9rem;
    font-weight: bold;
    border-width: 2px;
    border-image: linear-gradient(#F46E4C, #F43794);
}


/* hero section ends here */

.cards-articles {
    display: grid;
    grid-template-columns: repeat(3, minmax(200px, 1fr));
    grid-template-rows: auto auto;
    grid-gap: 1rem;
}

article[class*="card"] {
    border: 2px solid red;
}

.card-one {
    padding: 3.3rem;
}


/* small devices */


/* Small devices (portrait tablets and large phones, 600px and up) */

@media only screen and (min-width: 600px) {
    .cards-articles {
        display: grid;
        grid-template-columns: repeat(1, minmax(200px, 1fr));
        grid-gap: 1rem;
    }
}


/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 768px) {
    .cards-articles {
        display: grid;
        grid-template-columns: repeat(2, minmax(200px, 1fr));
        grid-gap: 1rem;
        padding: 1rem;
    }
}


/* Large devices (laptops/desktops, 992px and up) */

@media only screen and (min-width: 992px) {
    .cards-articles {
        display: grid;
        grid-template-columns: repeat(3, minmax(200px, 1fr));
        grid-gap: 1rem;
    }
}


/* Extra large devices (large laptops and desktops, 1200px and up) */

@media only screen and (min-width: 1200px) {}