:root {
    --button-background: #13183E;
    --links-text-color: #ffffff;
    --main-body-bgColor: #ffffff;
    --headingColor: #03093b;
    --mainFontColor: #0F122B;
}

*,
::before,
::after {
    box-sizing: border-box;
}

body {
    background-color: var(--main-body-bgColor)
}

header {
    background-color: #F8F8F8;
}


/* visually hidding the skip link */

#skip-link-section a {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    padding: 0.5rem;
    overflow: hidden;
    border-radius: 15px;
    margin: 0rem 0 1rem 0;
    border-color: var(--button-background);
    background-color: var(--button-background);
    color: var(--links-text-color);
}

#skip-link-section a:focus {
    position: static;
    width: auto;
    height: auto;
    text-decoration: underline;
}

#skip-link-section a:link {
    text-decoration: none;
    color: var(--links-text-color);
}

.navbar {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 0.5rem;
}

#navbar-signin-btn {
    padding: 8px 30px;
    font-size: 1rem;
    background-color: var(--button-background);
    border-color: var(--button-background);
    color: var(--links-text-color);
    font-weight: bold;
    border-radius: 20px;
    margin-right: 5rem;
}

.navbar-logo {
    margin-left: 3rem;
}


/* navigation section ends here */


/* hero section */

.hero-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 100%;
    height: 100vh;
}

.hero-img {
    background-image: url('assets/image-hero-desktop.png');
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 100%;
    height: auto;
    margin-top: -12rem;
}

.hero-information {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.hero-title {
    font-size: 220%;
    max-width: 50%;
    margin-left: 2rem;
    padding: 1rem;
    color: var(--headingColor)
}

.hero-description {
    font-size: 1.2rem;
    line-height: 1.5;
    color: var(--mainFontColor);
    margin-left: 2rem;
    max-width: 60%;
}

.hero-btn {
    margin-left: 2rem;
}

.hero-signup-btn {
    padding: 10px 30px;
    border-radius: 20px;
    background-image: linear-gradient(#E74116, #B12168)
    color: var(--links-text-color);
    font-size: 0.9rem;
    font-weight: bold;
    border-width: 2px;
    border-image: linear-gradient(#F46E4C, #F43794);
    cursor: pointer;
}


/* hero section ends here */


/* main */

main {
    margin: 2rem 0 3rem 0;
}

ul {
    list-style-type: none;
}

.cards-articles {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    grid-gap: 3rem;
    align-items: stretch;
}

article[class*="card"] {
    margin: 1rem;
    border-radius: 10px;
    border-color: transparent;
}

.card-one {
    background-image: linear-gradient(#F46E4C, #F43794);
    border-image: linear-gradient(#F46E4C, #F43794);
    border-radius: 10px;
    color: var(--mainFontColor);
    font-size: 110%;
    height: 280px;
    padding: 1.5rem
}

.article-img {
    margin-bottom: -2rem;
    margin-left: 1rem;
}

article h2 {
    color: var(--headingColor)
}

.description {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    padding: 0.5rem;
    overflow: hidden;
    border-radius: 15px;
    margin: 0rem 0 1rem 0;
    border-color: var(--button-background);
    background-color: var(--button-background);
    color: var(--links-text-color);
}


/* styles the inner section of the card */

.card-info {
    line-height: 2;
    box-shadow: 2px 2px 20px gray;
    padding: 1.5rem;
    border-radius: 10px;
}

.signup-btn {
    padding: 10px 30px;
    border-radius: 20px;
    background-image: linear-gradient(#E74116, #D42A7E);
    color: var(--links-text-color);
    font-size: 0.9rem;
    font-weight: bold;
    border-width: 2px;
    border-image: linear-gradient(#F46E4C, #F43794);
    cursor: pointer;
}

footer {
    background-color: #13183E;
    padding: 2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.signup-btn-footer {
    padding: 10px 30px;
    border-radius: 20px;
    background-image: linear-gradient(#F46E4C, #F43794);
    color: var(--links-text-color);
    font-size: 0.9rem;
    font-weight: bold;
    border-width: 2px;
    border-image: linear-gradient(#F46E4C, #F43794);
    cursor: pointer;
}


/* small devices */

@media only screen and (max-width: 600px) {
    .navbar {
        align-content: flex-start;
    }
    .navbar-logo {
        margin-left: -0.2rem;
    }
    #navbar-signin-btn {
        margin-right: 1rem;
        padding: 5px 25px;
    }
    .hero-section {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
    }
    .hero-information {
        text-align: center;
    }
    .hero-information h1 {
        max-width: 100%;
        margin: 1rem auto 0 auto;
    }
    .hero-information p {
        max-width: 100%;
        margin: 1rem auto 1rem auto;
        font-size: 1rem;
        inline-size: 75%;
        word-wrap: break-word;
        text-align: center;
        line-height: 2;
    }
    div .hero-img {
        width: 380px;
        height: 380px;
        background-image: url('assets/image-hero-mobile.png');
        margin: 0.8rem auto 2rem auto;
    }
    main {
        margin-top: 8rem;
    }
    .card-one {
        height: auto;
        padding: 2rem;
        margin: 4rem 0 0 0;
    }
}


/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 768px) and (max-width: 900px) {
    #navbar-signin-btn {
        padding: 5px 30px;
        font-size: 0.9rem;
    }
    .hero-section {
        margin: 2rem 0 0 0;
    }
    .hero-information p {
        max-width: 100%;
        margin: 1rem auto 1rem auto;
        padding: 1rem;
    }
    .hero-information h1 {
        max-width: 100%;
        margin: 1rem auto 1rem auto;
    }
    div .hero-img {
        margin-bottom: -4rem;
        height: 50%;
        max-width: 100vw;
        margin-top: -9rem;
        margin-right: -5rem;
        background-image: url('assets/image-hero-tablet.png');
    }
    main {
        margin-top: -40rem;
    }
}


/* Large devices (laptops/desktops, 992px and up) */

@media only screen and (min-width: 992px) {}


/* Extra large devices (large laptops and desktops, 1200px and up) */

@media only screen and (min-width: 1200px) {}
